<main class="main">

  <!-- blogs -->
  <section class="l-fluid-breakout">

    <div class="l-fluid-breakout__main">

      <!-- blog wrapper -->
      @for (blogPost of blogPosts; track blogPost.id) {
        <div class="l-fluid-breakout__item">
          <div class="p-card">
  
            <header class="p-card__inner">
              <p [innerHTML]="findGroup(blogPost)"></p>
            </header>
            <!-- blog content -->
            <div class="p-card__content"></div>
          </div>
        </div>
      }

      @if (blogPosts.length === 0) {
        <!-- no data found -->
        <div class="p-strip">
          <div class="row">
            <div class="u-align--right col-4 col-medium-2 col-small-1">
              <i class="p-icon--error"></i>
            </div>
            <div class="u-align--left col-8 col-medium-4 col-small-3">
              <p class="p-heading--4 u-no-margin--bottom">No data found</p>
              <p>Could not retrieve blog posts</p>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
</main>
